@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #f85606;
    --grey-color1: rgb(236, 236, 236);
    --grey-color2: rgb(207, 207, 207);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 0 10rem; */
    background-color: var(--grey-color1);
}

header {
    background-color: var(--primary-color);
    padding: 0 10rem;
    height: 120px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
 .btn{
  height: 30px;
  width: 140px;
  border: none;
  background-color:#AD3C04 ;
  font-size: 13px;
  color: white;
  border-radius: 0 0 6px 6px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.logoDiv {
    margin-right: auto;
}

.darazLogo {
    width: 150px;
}

.searchbarDiv {
    flex-grow: 1;
}


.searchBar {
    width: 90%;
    height: 35px;
    border-radius: 12px;
    outline: none;
    border: none;
    margin: 0 15px;
    padding: 0 15px;
    font-size: 15px;
    position: relative;
}
.searchbtn button{
    width: 2.7rem;
    height: 1.7rem;
    margin-left: 36rem;
    margin-top: -1.9rem;
    position: absolute;
    background-color: #fde6db;
    color:#f77636 ;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}


.rightElements {
    display: flex;
    margin-left: auto;
}

.rightElements a {
    text-decoration: none;
    color: white;
    margin-left: 8px;
}

.rightElements a i {
    margin-right: 8px;
}

.rightElements span {
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.loginBtn {
    /* border: 1px solid black; */
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginBtn:hover,
.signupBtn:hover,
.cartBtn:hover,
.languagebtn:hover
{
    background-color: rgba(63, 63, 63, 0.205);
}

.signupBtn {
    /* border: 1px solid black; */
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.languagebtn{
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.languagebtn .fa-solid {
    margin-left: .3rem;
}

.cartBtn {
    /* border: 1px solid black; */
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -.3rem;
}

.topNav ul {
    display: flex;

}

.topNav ul li {
    list-style: none;
    margin: 6px;
}

.topNav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 12px;
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
}

.topNav ul li a:hover {
    color: var(--grey-color1)
}

.topNav ul li a {}




/* Main Section */
.mainContainer {
    padding: 1rem 10rem;
}

main{
    padding: 2rem 10rem;
}

.heroSection {
    height: 22rem;
    display: flex;
    gap: 1rem;
}

.leftCategories {
    background-color: white;
    flex: 1 0 auto;
    border-radius: .8rem;
    width: 20%;
    padding: .6rem 0;
    color: rgb(103, 103, 103);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.categoryItem {
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
}

.categoryItem p {
    margin-right: auto;
}


.categoryItem i {
    margin-right: .5rem;
    background-color: var(--grey-color1);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryItem:hover {
    background-color: var(--grey-color1);
    color: var(--primary-color);
    cursor: pointer;
}

.categoryItem:hover .right-arrow {
    visibility: visible;
}

.right-arrow {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    visibility: hidden;
}

.right-arrow::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}



/* carousel */
.rightCarousel {
    flex: 5 0 auto;
    border-radius: .8rem;
    overflow: hidden;
    width: 75%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.carousel img {
    width: 100%;
    /* height: 100%; */
    border-radius: .8rem;

}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

/* banner */
.heroSecond{
    padding: 0rem 10rem;
}

.bannr {
    display: flex;
    justify-content: center;
    justify-items: center;

}

.bannr img {
    width: 65rem;
    margin-top: .2rem;
}

.containerBx ul {
    display: flex;
    /* justify-content: space-between; */
    /* margin-top: -15px; */
    /* padding: 0 5rem; */
    align-items: center;
    margin-top: .5rem;
    background-color: #fcebe4;
    border-radius: .6rem;
}

.containerBx ul li {
    list-style: none;
    height: 2.5rem;
    padding: 0 10px;
    font-size: 14px;

    width: 12rem;
    padding-top: .9rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.containerBx ul:hover{
    cursor: pointer;
    background-color: #ffd8ca;
}
.containerBxSpan{
    list-style: none;
    height: 2.5rem;
    padding-top: .9rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color: grey;
}
.channelContainer_inner {
    display: flex;
    justify-content: center;
    column-gap: 3.5%;
    margin-top: 1.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border-radius: .8rem;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.channelContainer_inner div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.channelContainer_inner div a{
    text-decoration: none;
    margin-top: .5rem;
    color: black;
}

.channelContainer_inner div:hover a{
    color: var(--primary-color);
    cursor: pointer;
}

.channelContainer_inner img {
    /* border-radius: 15%; */
    height: 6rem;
    width: 5.8rem;
    cursor: pointer;
}

.flashSale_main{
    width: 100%;
    background-color: white;
}

.flashSale_main h2{
    background-color: var(--grey-color1);
    padding-bottom: .5rem;
}

.flashSale{
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-color2);
}

.flashSale p{
    color: var(--primary-color);
}

.flashSale .timer{
    margin-left: 5rem;
    margin-right: auto;
}

.flashSale .shopMore{
    width: auto;
    height: 90%;
    border: 1px solid var(--primary-color);
    padding: .4rem .7rem;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: .2rem;
}

.flashContent{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    overflow: hidden;
}

.flashCard{
    /* border: 1px solid red; */
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1rem 0;
    cursor: pointer;
}

.flashCard p{
    padding: .2rem .8rem;
}
.flashPrice{
    font-weight: bold;
    color: var(--primary-color);
}
.flashCard img{
    object-fit: cover;
}

.flashCard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* categories section */
.categoriesSection{
    /* border: 1px solid black; */
    margin-top: 2rem;
    background-color: var(--grey-color1);
    width: 100%;
    height: 400px;
}   

.catCard{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.catCard img{
    width: 100px;
    height: 100px;
}

.catContent{
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.catContent > div{
    border: 1px solid var(--grey-color1);
    flex-grow: 1;
}
.catContent > div:hover {
    box-shadow: rgba(0, 0, 0, 0.231) 0px 2px 8px;
    cursor: pointer;
    transition: all 0.2s;
}
.mainProducts{
    width: 100%;
    background-color: white;
   
}
.mainProducts h2{
    background-color: var(--grey-color1);
    padding-bottom: .5rem;
}
.products{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    overflow: hidden;
    width: 100%;
}
.singleProducts{
    flex: 0 0 1;
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 0 1rem 0;
    cursor: pointer;
    transition: ease .3s;
}
.singleProducts:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.singleProducts p{
    padding: .2rem .8rem;
}
.price{
    font-weight: bold;
    color: var(--primary-color);
    margin-left: -9rem;
}

.singleProducts img{

    object-fit: cover;
}

.products > div{
    border: 1px solid var(--grey-color1);
}
.mainProducts .Load-more{
    background-color: white;
    width: 40%;
    /* height: 30px; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid #e65f1b;
    padding: 13px 0;
}
.mainProducts .Load-more a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #f85606;
   
}

.main-list{
    width: 100%;
    /* background: #f5f5f5; */
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.heading{
    color: #f85606;
    font-size: 20px;
  }
  .main-list .headings{
    color: #f85606;
    margin-top: 1.5rem;
    font-size: 20pxpx;
  }
.mainimg{
    margin-left: -1.1rem;
    margin-top: .5rem;
    /* width: 2rem; */
   
  }
.img12{
    width: 6rem;
}

.All-lists ul li{
  list-style: none;
  text-decoration: none;
  margin-top: 5px;

}

.All-lists li a{
    text-decoration: none;
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
    font-size: 14px;
    color: black;
}

.imagess {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 15rem;
    column-gap:10px;
    row-gap: 10px;
    margin-top: .5rem;
    margin-left: -.5rem;

   
}
.imagess a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.imagess a img{
    width: 2.5rem;
    height:2.5rem;
    padding: 3px;   
}
.executives{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: 1;
    /* flex-wrap: wrap; */
    width: 6rem;
   
}
.executives img{
    width: 6rem;
    margin-top: .8rem;
    margin-left: -1rem;
}
.deals {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    flex-wrap:wrap ;
    margin-left: 6.5rem;
    margin-top: -6rem;
}

.deals img{
    width: 6rem;
    margin-left: -1rem;
}
.downldapp{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 4.5rem;
    margin-left: -1rem;
}
.downldapp p{
    margin-top: 2.5rem;
    margin-left: -8rem;
    font-size: 12px;
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
}
.smalimg{
    width: 3rem;
    margin-top: 1.4rem;
    padding: 5px;   
}
.Folllow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.6rem;
    margin-top: .5rem;

}
.Folllow-us a{
    
}


/* Media Queries */

@media screen and (max-width: 1023px) {
    header {
        padding: 0;
        /* Padding is 0 when width is below 1024px */
    }
    main{
        padding: 2rem 0;
    }

    .mainContainer {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    header {
        padding: 0 5rem;
        /* Padding is 5rem from 1024px to 1366px */
        background-color: black;
    }

    main{
        padding: 2rem 5rem;
    }

    .mainContainer {
        padding: 1rem 5rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    header {
        padding: 0 5rem;
        /* Padding is 5rem from 1024px to 1366px */
    }

    main{
        padding: 2rem 5rem;
    }

    .mainContainer {
        padding: 1rem 5rem;
    }
}

@media screen and (min-width: 1367px) {
    header {
        padding: 0 10rem;
        /* Padding is 10rem from 1367px and beyond */
    }

    main{
        padding: 2rem 10rem;
    }

    .mainContainer {
        padding: 1rem 10rem;
    }
}
@media screen and (min-width: 1367px) {
    header {
        padding: 0 10rem;
        /* Padding is 10rem from 1367px and beyond */
    }

    main{
        padding: 2rem 10rem;
    }

    .mainContainer {
        padding: 1rem 10rem;
    }
}



