@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* padding: 0 10rem; */
}

header{
    background-color: #f85606;
    padding: 0 5rem;
    height: 75px;
    display: f;
}
header div .btn{
  height: 15px;
  width: 75px;
  border: none;
  background-color:#AD3C04 ;
  font-size: 8px;
  color: white;
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darazLogo{
    width: 120px;
    height: 40px;
}

.searchBar{
    width: 400px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 45%;
    padding: 0 15px;
    font-size: 12px;
}

.topNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNav ul {
    display: flex;

}

.topNav ul li{
    list-style: none;
    margin: 6px;
}
.topNav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 14px;
    font-size: 10px;
}
.topNav ul li a:hover{
    color: rgb(214, 214, 214);
}

.topNav ul li a{

}

.rightElements{
    display: flex;
   
}
.rightElements a{
  text-decoration: none;
  padding: 8px;
  list-style: none;
  color: aliceblue;
  font-size: 12px;

}
.rightElements a i{
display: inline;
padding: 8px;
}
.container{
  display: flex;
  
}
.container div{
  margin-left: 4%;
  
  margin-top: 1%;
}
.container div ul{
  height: 100%;
  width:110%;
  border: 1px solid rgb(216, 213, 213);
  list-style: none;
  font-size: 10px;
  background-color: rgb(240, 236, 236);
  padding: 7px 7px;
  border-radius: 8px;
  
}
.container div ul li{
  padding: 0.2rem;
}
.container .carousel{
  margin-top: -3px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 240px; /* Set the desired height */
    background-size: cover;
}

#img1 { background-image: url('car4.avif'); }
#img2 { background-image: url('car2.avif'); }
#img3 { background-image: url('car3.avif'); }

input[type="radio"] {
    display: none;
}

.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

label {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

input[type="radio"]:checked + .slides {
    transform: translateX(-100%);
}
.bannr{
  display: flex;
  justify-content: center;
  justify-items: center;
  
}
.bannr img{
  width: 140%;
  margin-top: 2%;
}

.containerBx ul{
  display: flex;
  /* justify-content: space-between; */
  margin-top: -15px;
  padding: 0 5rem;
  align-items: center;
}
.containerBx ul li{
  list-style: none;
  height: 25px;
  padding: 0 10px;
  font-size: 10px;
  background-color: #FFE8DE;
  width: 150px;
  padding-top: 6px;
  
}

.parent{
  width: 10rem;
  height: 20rem;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: .3rem;
}

.child{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 9rem;
 column-gap: .3rem;

}